<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

	
  

<div class="row">
	<form action="/videos/add" method="post" name="form1" encType="multipart/form-data" class="col s12">
		<div class="row">
		<div class="file-field input-field">
			<div class="btn">
			  <span>File</span>
			  <input type="file" name="MyVideo"  />
			</div>
			<div class="file-path-wrapper">
			  <input class="file-path validate" type="text">
			</div>
		  </div>
		</div>
		<div class="row">

        <div class="input-field col s6">
          <i class="material-icons prefix">description</i>
          <input id="description" type="text" class="validate"  name="description" value="<%= description %>">
			<label for="description">Description</label>
        </div>
	  </div>
	  <div class="row">
		<button class="btn waves-effect waves-light" type="submit" name="Submit">Add
		</button>
	</div>
    </form>
  </div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
<script>
	console.log("dddddddd");
</script>