<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	






<% if (data) { %>
	<% data.forEach(function(video){ %>
		
<div class="container">
	<div class="row">
	
		
		<div class="col s12">
 			 <div class="card ">
    			<div class="card-image waves-effect waves-block waves-light">
					<video name="video" id="videoName" controls width = "100%" height = "400" preload="metadata"  >
						<source src="../../uploads/<%= video.video_name %>" type="video/mp4">
						Sorry, your browser doesn't support embedded videos.
					</video> 
					<img src="../../uploads/thumbnail/<%= video.thumb_name %>"/>
					
   				</div>
    			<div class="card-content   large right ">
      				<span class="card-title activator grey-text text-darken-4 ">
						<a class="btn waves-effect waves-light red" href='/videos/edit/<%= video.id %>'>Edit</a> 							
						<a class="btn waves-effect waves-light red" href='/videos/show/<%= video.id %>'>Show</a>
						<!-- <a class="btn waves-effect waves-light red" href='/videos/delete/<%= video.id %>' onClick="return confirm('Are you sure you want to delete?')">delete</a> -->

						<form method="post" action="/videos/delete/<%= video.id %>" style="float:right">
							<input class="btn waves-effect waves-light red" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
							<input type="hidden" name="_method" value="DELETE" />
						</form>
					  </span>
	
		 			 	
				</div>
				
   			</div>
		</div>
   </div>
</div>
    <% }) %>
	<% } %>


 

<%- include ../layouts/footer.ejs %>


