<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	






<% if (data) { %>
	<% data.forEach(function(video){ %>
		
<div class="container">
	<div class="row">
	
		
		
			  <div class="col-sm">
    			<!-- <div class="card-image waves-effect waves-block waves-light"> -->
					
					<img src="../../uploads/thumbnail/<%= video.thumb_name %>"/>
					
			  </div>
    			<div class="col-sm">
      				<span class="card-title activator grey-text text-darken-4 ">
						  <div>
						<a class="btn waves-effect waves-light red" href='/videos/edit/<%= video.id %>'>Edit</a> 							
						<a class="btn waves-effect waves-light red" href='/videos/show/<%= video.id %>'>Show</a>
						<!-- <a class="btn waves-effect waves-light red" href='/videos/delete/<%= video.id %>' onClick="return confirm('Are you sure you want to delete?')">delete</a> -->

					
						<form method="post" action="/videos/delete/<%= video.id %>" style="float:right">
							<input class="btn waves-effect waves-light red" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
							<input type="hidden" name="_method" value="DELETE" />
						</form>
						  </div>
					  </span>
	
		 			 </div>	
		
				
   			
		</div>
   </div>
</div>
    <% }) %>
	<% } %>


 

<%- include ../layouts/footer.ejs %>


